

        <div class="col-sm-12 margin-b-20">
            <div class="user-card clearfix">
                <table width="100%" border="0">
                    <tbody>
                    <tr>
                        <td colspan="2">
                        <table width="100%" border="0">
                            <tbody>
                            {% for item in context.service %}
                            <tr>
                                <td width="20%">
                                    <ul class="services-list">
                                    <li><i class="services-icon-{{ item.icon }}"></i>
                                        <form enctype="multipart/form-data" action="/adminka/service/edit/" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="service_pk" value="{{ item.pk }}" />
                                        <input type="hidden" name="path" value="#services" />
                        <select id="id_icons" name="icons">
                    {% for num in icons_numbers %}
                        <option {% if num == item.icon %} selected {% endif %} value="{{ num }}">{{ num }}</option>
                    {% endfor %}
                        </select> &nbsp
                                        <button class="btn btn-primary btn-xs" type="submit">Изм.</button>
                                        </form>
                                    </li>
                                    </ul>
                                </td>
                                <td colspan="2">
                                    <form enctype="multipart/form-data" action="/adminka/service/edit/" method="post">
                                    {% csrf_token %}
                                    <table width="100%">
                                        <tbody>
                                        <tr>
                                            <td>
                    <input class="form-control" id="id_title" name="title" type="text" value="{{ item.title }}"/>
                    <input type="hidden" name="service_pk" value="{{ item.pk }}" />
                    <input type="hidden" name="path" value="#services" />
                                            </td>
                                            <td align="center">
                    <button class="btn btn-primary btn-xs" type="submit">Изменить</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    </form>
                                </td>
                                <td align="center" width="10%">
                                <a href="/adminka/service/{{ item.pk }}/delete/" class="btn btn-danger btn-xs">Удалить</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    <form enctype="multipart/form-data" action="/adminka/service/add/" method="post">
                    {% csrf_token %}
                    <table width="100%" border="0">
                            <tbody>
                            <tr>
                                <td width="20%">

                                </td>
                                <td>
                    <input class="form-control" id="id_title" name="title" type="text" />
                    <input type="hidden" name="path" value="#services" />
                                </td>
                                <td align="center">
                                <button class="btn btn-primary btn-xs" type="submit">Добавить</button>
                                </td>
                                <td align="center" width="10%">

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            <br>
            </div><!--user card-->
        </div>