{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
{% include 'include/header.html' %}
<div class="main">
    {% include 'include/service.html' %}
    {% include 'include/galery.html' %}
    {% include 'include/news.html' %}

</div>
{% include 'include/footer.html' %}
<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>