{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Assan admin</title>

        <!-- Bootstrap -->
        <link href="{% static "assan_plugins/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        <!--side menu plugin-->
        <link href="{% static "assan_plugins/hoe-nav/hoe.css" %}" rel="stylesheet">
        <!-- icons-->
        <link href="{% static "assan_plugins/ionicons/css/ionicons.min.css" %}" rel="stylesheet">
        <link href="{% static "assan_plugins/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
        <!--template custom css file-->
        <link href="{% static "assan_css/style.css" %}" rel="stylesheet">

        <script src="{% static "assan_js/modernizr.js" %}"></script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <div class="page-center">
            <div class="page-center-in">
                <p align="center" style=" text-align:center; padding-top:60px;"></p>
                <form class="sign-box">
                    <br>
                    <h4 >Доступ закрыт</h4>
                    <p>Неправильный логин или пароль.</p>
                    <input class="btn btn-default rounded" type="button" onclick="history.back();" value="  Назад   "/>
                    <br><br>
                    <p align="center">
                        <a href="javascript:collapsElement('forgetpass')" title="" rel="nofollow">Забыли пароль?</a>
                    </p>

                    <div id="forgetpass" style="display: none">
                        <em>Введите свою почту.</em>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="E-Mail">
                    </div>
                    <button type="submit" class="btn btn-success rounded btn-lg">Отправить</button>
                    </div>
                </form>
            </div><!--page center in-->
        </div><!--page center-->

        <!--Common plugins-->
        <script src="{% static "assan_plugins/jquery/dist/jquery.min.js" %}"></script>
        <script src="{% static "assan_plugins/bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "assan_plugins/hoe-nav/hoe.js" %}"></script>
        <script src="{% static "assan_plugins/pace/pace.min.js" %}"></script>
        <script src="{% static "assan_js/app.js" %}"></script>
    <script>
 function collapsElement(id) {
 if ( document.getElementById(id).style.display != "none" ) {
 document.getElementById(id).style.display = 'none';
 }
 else {
 document.getElementById(id).style.display = '';
 }
 }
 </script>

    </body>
</html>


